:root {
    --background-color:#f2efe5;
    --largeText-color: #a58f4c;
    --tertiary-color: #261c00;
    --text-shadow: 1px 1px 10px rgba(25, 19, 0, 0.5);
    --text-hover: 1px 2px 3px #261c00;
  }

* {
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header section */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--tertiary-color);
} 

header h1 {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  font-weight: bold;
  font-size: 60px;
  color: var(--largeText-color);
  text-shadow: var(--text-shadow);
  padding: 5px 15px 5px 100px;
}

header nav {
  display: flex;
  align-items: center;
  margin: 0 50px 0 0; 
  background-color: var(--tertiary-color);
}
/* header nav bar */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: var(--tertiary-color);
}
header nav ul li a {
  color: var(--largeText-color);
  padding: 10px 15px 10px 10px;
  font-weight: lighter;
  font-size: 20px;
  text-shadow: var(--text-shadow);
  text-decoration: none;
  background-color: var(--tertiary-color);
}

header nav ul li a:hover {
  color: var(--background-color);
  text-shadow: var(--text-hover);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url("./images/woods.jfif");
  background-size: cover;
  height: 250px;
}

.hero-sub {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 75px 25px 0;
}

.hero h2 {
  display: flex;
  background-color: var(--background-color);
  color: var(--largeText-color);
  padding: 5px;
  text-shadow: var(--text-shadow);
}

/* .primary-border {
  border-right: 3px solid var(--largeText-color);
  margin-top: 50px;
} */
.section-title {
  width: 20%;
  height: auto;
  color: var(--largeText-color);
  font-size: 35px;
  text-shadow: var(--text-shadow);
  border-right: 3px solid var(--largeText-color);
  text-align: right;
  padding: 2%;
}

.about {
  display: flex;
  flex-flow: row wrap;
}

.about-text {
  width: 70%;
  color: var(--tertiary-color);
  line-height: 1.2;
  padding: 2%;
}

/* work section */
.work {
  display: flex;
  flex-flow: row wrap;
}

/* projects  */

/* .project a {
  text-decoration: none;
} */
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70%;
}

.image {
  padding: 15px;
}

.project-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  box-shadow: var(--text-shadow);
  border: 2px solid var(--largeText-color);
  margin: 2%;
}

.project-1 img{
  width: 100%;
  height: auto;
}

.project-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  box-shadow: var(--text-shadow);
  border: 2px solid var(--largeText-color);
  margin: 2%;
}

.p2a {
  width: 40%;
}

.project-2 img{
  width: 100%;
  height: auto;
}

.project-3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  box-shadow: var(--text-shadow);
  border: 2px solid var(--largeText-color);
  margin: 2%;
}

.p3a {
  width: 40%;
}

.project-3 img{
  width: 100%;
  height: auto;
}

.project-title {
  position: absolute;
  background-color: var(--background-color);
  color: var(--largeText-color);
  text-shadow: var(--text-shadow);
  box-shadow: var(--text-shadow); 
  margin-bottom: 2%;
}



  





